# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

# Ignore bin and obj directories
*/[Bb]in/
*/[Dd]ebug*/
*/[Dd]ebugPublic*/
*/[Rr]elease*/
*/[Rr]eleasePublic*/
*/obj/

# Ignore ReSharper files
_ReSharper*/

# Ignore test results
[Tt]est[Rr]esult*

# Ignore Visual Studio folder (and its subdirectories)
.vs/

# Ignore JetBrains Rider files
.idea/

# Ignore NuGet packages folder
packages/

# Ignore DesignTimeBuild folder inside .vs (if it's within the .vs folder)
.vs/*/
